#wrapper {
  margin: auto;
  width: 80%;
}

h2 {
  font-size: 18px;
}

#content {
  width: 50%;
}

#tools {
  position: fixed;
  width: 300px;
  height: auto;
  padding: 5px;
  right: 50px;
  bottom: 50px;
  background-color: white;
  border-style: solid;
  border-width: thin;
}
